.parent {
    position: relative;
    height: 200vh;
}

.child-one {
    /* rarely use */
    /* 
    position:relative;
    top:10px; */

    /* position: absolute
    put child in an absolute position to its parent: set child's position to absolute and parent's to non-static, usually relative. 
    If its parent is static, it will fall back to a nearest non-static parent, usually html element.*/
    position: absolute;
    top: 10px;

    /* position: fixed */
    /* fixed means the element is fixed based on the entire html element */
    position: fixed;

    /* position: sticky */
    /* combination of relative and fixed */
    position: sticky;

}


/* default settings */
.parent {
    padding: 5px;
    background-color: #00AAFF;
}

.child {
    padding: 5px;
}

.child-one {
    background-color: rgb(116, 255, 116);
}

.child-two {
    background-color: rgb(248, 117, 117);
}

.child-three {
    background-color: rgb(255, 116, 232);
}