.svg1 rect {
    fill: red;
    x: 10;
    y: 10;
    width: 150px;
    height: 150px;
}

.svg2 path {
    d: path("M150, 10 L40, 200 L260, 200 L260, 200Z");
    fill: #4c6edb;
    transition: all 0.35s ease;
}

.svg2 path:active {
    d: path("M220, 10 L40, 10 L40, 220 L220, 220Z");
    fill: #6e40aa;
}

:root {
    --color-1: #6e40aa;
    --color-2: #4c6edb;
    --color-3: #24aad8;
    --color-4: #1ac7c2;
    --color-5: #1ddea3;
}

.shape {
    cy: 50;
    r: 20;
    animation: moveCircle 1250ms ease-in-out both infinite;
}

.shape:nth-child(1) {
    cx: 60;
    fill: var(--color-1);
}

.shape:nth-child(2) {
    cx: 120;
    fill: var(--color-2);
    animation-delay: 100ms;
}

.shape:nth-child(3) {
    cx: 180;
    fill: var(--color-3);
    animation-delay: 200ms;
}

.shape:nth-child(4) {
    cx: 240;
    fill: var(--color-4);
    animation-delay: 300ms;
}

.shape:nth-child(5) {
    cx: 300;
    fill: var(--color-5);
    animation-delay: 400ms;
}

@keyframes moveCircle {
    50% {
        cy: 150;
        r: 10;
    }
}

.container {
    max-width: 150px;
    margin: auto;
}

.svg-circle:hover+.svg-text-group {
    opacity: 0;
}