*:target {
    background-color: gold;
}

/* Add a pseudo-element inside the target element */
*:target::before {
    font: 70% sans-serif;
    content: "►";
    color: limegreen;
    margin-right: 0.25em;
}

/* Style italic elements within the target element */
*:target i {
    color: red;
}