/* Global settings */
@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

/* Left part */
.left {
    position: relative;
    width:400px;
    height:600px;
    color: white;
    background-image: url(img/tree.jpg);
    background-size: cover;
    border: 1px solid transparent;
}

.left img {
    width: 70px;
}

.logo {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-name {
    font-family: 'Norse', sans-serif;
    font-size: 80px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
}

.credit {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Right part */
body {
    display: flex;
    margin: 0;
    background-color: #f5f5f5;
}

.right > * {
    padding: 1rem;
}

.right {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* statement part */
.statement {
    font-weight: bold;
    
}

.statement > p {
    max-width: 70ch;
}

/* form part */
#form {
    font-size: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

form .part1 {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
    position: relative;
}

form p {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    margin: 0;
}

form .row {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.cell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    border-color: #E5E7EB;
}

input:focus {
    border-color: blue;
}

input[type='password']:invalid {
    /* border: 1px solid red; */
}

form .btn {
    background-color: #f5f5f5;
    padding: 1rem 1rem 0 1rem;
}

button {
    width: 150px;
    background-color: #596D48;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

/* footer part */
#footer {
    padding: 0 0 0 1rem;
}

footer p {
    font-size: 12px;
}

span {
    color: #596D48;
    font-weight: bold;
}

