@font-face {
    font-family: 'Roboto bold';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --user-name-large: 18px;
    --gray-color:#e5e5e5;
}

body {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* sidebar */
.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
    background-color: #4cc9f0;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.sidebar img {
    width: 20px;
}

.sidebar .dashboard {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: 'Roboto bold', sans-serif;
    font-size: 24px;
    & img {
        width: 40px;
    }
}

nav {
    font-size: var(--user-name-large);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    & div {
        display: flex;
        gap: 1rem;
    }
}

/* header */
header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 220px;
    padding: 0.5rem;
    padding-top: 0.2rem;

}

header img {
    width: 30px;
}

header .search {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    & label {
        display: flex;
        align-items: center;
    }

    & input {
        flex: 1;
        height: 30px;
        border-radius: 10px;
        border-color: transparent;
        background-color: var(--gray-color);
    }
}

header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & img.user-icon {
        width: 50px;
        border-radius: 50%;
    }

    & .user-name {
        font-family: 'Roboto bold';
        font-size: var(--user-name-large);
    }
}


/* main */
.main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto 1fr 1fr;

    & img {
        width: 30px;
    }
}

/* main-header */
.main .main-header {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    padding: 1rem;

    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    & img {
        width: 70px;
        border-radius: 50%;
        margin-right: 1rem;
    }
    & button {
        height: 40px;
        width: 60px;
        margin: 0 1rem;
        background-color: #4361EE;
        border-color: transparent;
        border-radius: 15px;

    }
    & .greeting {
        flex: 1;
        font-size: 12px;
        & .user-name {
            font-family: 'Roboto bold';
            font-size: var(--user-name-large);
        }
    }
}

.main .projects-area {
    grid-row: 2/-1;
    grid-column: 1;
    display: grid;
    background-color: var(--gray-color);
    padding: 1rem;
    & img {
        width: 20px;
    }
}

.main .announcements {
    background-color: var(--gray-color);
    padding: 1rem;
    font-family: 'Roboto bold', sans-serif;

    & .content {
        background-color: white;
        font-family: 'Roboto', sans-serif;
        padding: 1rem;
    }
    
}

.main .trending {
    background-color: var(--gray-color);
    padding: 1rem;
    & .content {
        background-color: white;
    }
}